h2, h3, h4 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

li {
    font-family: Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

.player {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}
